<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- ここにfont-awesome5用のlink relを追加 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
  </head>

<body>
  <header>
    <div class="header-logo">
    

    

    </div>

    <ul class="header-menus">
      <% if @current_user %>
        <li>
            <!--%= "ログイン中:" %--> <!-- corsor:hoverがログイン中に出なかったので修正 -->
            <div class="header0">
                <%= link_to("ログイン中:" + @current_user.name, "/users/#{@current_user.id}") %>
            </div>
        </li>
        
        <li>
            <div class="header1">
                <%= link_to("ユーザー一覧", "/users/index") %>
            </div>
        </li>
        
        <li>
            <div class="header2">
                <%= link_to("新規投稿", "/posts/new") %>
            </div>
        </li>
        
        <li>
            <div class="header3">
                <%= link_to("投稿一覧", "/posts/index") %>
            </div>
        </li>
        
        <li>
            <div class="header4">
                <%= link_to("ログアウト", "/logout", {method: :post}) %>
            </div>
        </li>
        
      <% else %>

        <li>
            <div class="header2">
                <%= link_to("新規登録", "/signup") %>
            </div>
        </li>
        <li>
            <div class="header2">
                <%= link_to("ログイン", "/login") %>
            </div>
        </li>
        
      <% end %>    
        
    </ul>
    
    <div class="header-left">        
        <a href="/top">
            <img src="https://cdn.svgporn.com/logos/reasonml.svg">
        </a>
    </div>

  </header>

    <% if flash[:notice] %>
        <div class="flash">
            <%= flash[:notice] %>
        </div>
    <% end %>

    <%= yield %>
  </body>
</html>




